.address-box{width: 100%;
border: 1px solid black;
display: flex
;
align-items: center;
justify-content: center;
height: 100%;}
.address-box-default{
    width: 100%;
border: 1px solid black;
display: flex
;
align-items: center;
justify-content: center;
height: 100%;
}